---
import {getCollection, type CollectionEntry, getEntries} from "astro:content";
import {slugify, processPosts} from "../../utils";

import ArticleHeader from "../../components/article/ArticleHeader";
import ArticleFooter from "../../components/article/ArticleFooter";
import FloatingBar from "../../components/article/FloatingBar";
import SeriesPosts from "../../components/SeriesPosts";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";

import "../../styles/mdx.css";
import SidebarLayout from "../../layouts/SidebarLayout.astro";


export const getStaticPaths = async (): Promise<any[]> => {
    const [blogPosts, allCategories, allSeries] = await Promise.all([
        getCollection("blog"),
        getCollection("category"),
        getCollection("series"),
    ]);
    const allPosts: CollectionEntry<"blog">[] = processPosts(blogPosts);

    return allPosts.map((post, index, posts) => {
        const foundSeries = allSeries.find((series) =>
            series.data.posts.some((seriesPost) => seriesPost.slug === post.slug),
        );

        return {
            params: {
                slug: slugify(post.slug),
            },
            props: {
                allCategories,
                allPosts,
                post,
                prevPost: posts[index + 1],
                nextPost: posts[index - 1],
                series: foundSeries?.data,
            },
        }
    });
}

const {post, prevPost, nextPost, series} = Astro.props;
const {Content, headings} = await post.render();

const seriesPosts: CollectionEntry<'blog'>[] = series ? processPosts(await getEntries(series.posts), {sortOption: 'None'}) : [];
---
<BaseLayout>
    <SidebarLayout/>
    <MainLayout>
        <div class="flex h-auto max-w-screen-xl mx-auto justify-around">
            <article class="py-[4rem] max-w-[56rem]">
                <ArticleHeader article={post}/>
                <div class="-z-10 mdx">
                    <Content/>
                </div>
                {seriesPosts.length > 0 ?
                        <SeriesPosts {seriesPosts} seriesData={series} currentPost={post}/> : ""}
                <ArticleFooter client:load prevPost={prevPost} nextPost={nextPost}/>
            </article>
            <div class="hidden xl:block w-[16rem]">
                <FloatingBar headings={headings} client:load/>
            </div>
        </div>
    </MainLayout>
</BaseLayout>
