---
import {slugify, processPosts, formatDate} from "../../utils";
import {type CollectionEntry, getCollection, getEntries} from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import PostList from "../../components/PostList";

import "../../styles/mdx.css";


export const getStaticPaths = async (): Promise<any[]> => {
    const allSeries: CollectionEntry<'series'>[] = await getCollection("series");

    return allSeries.map((series) => ({
        params: {
            slug: slugify(series.data.title),
        },
        props: {
            series: series.data,
            seriesPosts: series.data.posts,
        },
    }));
}

const {series, seriesPosts} = Astro.props;
const processedPosts = processPosts(await getEntries(seriesPosts), {sortOption: 'None'});
const getMostRecentDateFormatted = (posts: CollectionEntry<'blog'>[]) => {
    const mostRecentDate = posts
        .map(post => post.data.date)
        .sort((a, b) => b - a)[0];

    return formatDate(mostRecentDate);
};
---

<BaseLayout>
    <MainLayout>

        <ContentLayout>
            <label class="font-medium inline-flex border-b-2 border-solid border-purple-500 text-purple-500">{series.title}</label>
            <div class="space-y-4 py-6">
                <p class="text-4xl font-gray-700 font-bold whitespace-pre-wrap break-keep w-[600px]">{series.description}</p>
                <div class="mt-1 flex gap-2">
                    <div class="flex items-center gap-1 ">
                        <p>
                            <span class="text-purple-800">{processedPosts.length}</span> Posts |
                            Last updated on {getMostRecentDateFormatted(processedPosts)}
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-4 mb-8">
                <hr/>
            </div>
            <PostList posts={processedPosts} isIndexed={true}/>
        </ContentLayout>

    </MainLayout>
</BaseLayout>
