---
import {type CollectionEntry, getCollection} from "astro:content";
import {processPosts} from "../utils";

import Carousel from "../components/Carousel";
import PostCard from "../components/PostCard";
import Particles from "../components/Particles";
import Categories from "../components/Categories";
import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import SidebarLayout from "../layouts/SidebarLayout.astro";

const allPosts: CollectionEntry<"blog">[] = processPosts(await getCollection("blog"));
const allCategories: CollectionEntry<"category">[] = await getCollection("category");
const recentPost: CollectionEntry<"blog">[] = allPosts.slice(0, 9);

const shuffledSeries: CollectionEntry<"series">[] = (
    await getCollection("series")
).sort(() => Math.random() - 0.5);
---

<BaseLayout>
    <SidebarLayout>
        <Categories categories={allCategories} posts={allPosts}/>
    </SidebarLayout>
    <MainLayout>
        <div class="relative w-full h-56 md:h-96 transition ease-in-out">
            <Carousel client:load slides={shuffledSeries}/>
            <Particles client:load/>
        </div>
        <div class="my-8 max-w-screen-xl mx-auto flex-col">
            <h2 class="p-4 text-gray-700 text-2xl font-semibold">최근 포스팅 게시물</h2>
            <hr class="p-4"/>
            <div class="flex justify-end px-2 pb-8">
                <a class="inline-flex h-6 items-center text-gray-700" href="/tech">
                    전체 게시글 보러가기
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            class="ml-1 h-6 w-6"
                    >
                        <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M17.5 12h-15m11.667-4l3.333 4-3.333-4zm3.333 4l-3.333 4 3.333-4z"
                        ></path>
                    </svg>
                </a>
            </div>
            <div
                    class="grid gap-8 grid-cols-1 overflow-x-scroll sm:grid-cols-2 lg:grid-cols-3 mx-8"
            >
                {recentPost.map(post =>
                        <PostCard post={post}/>)}
            </div>
        </div>
    </MainLayout>
</BaseLayout>
